<div class="form-group">
    <label for="id" class="col-sm-2 control-label">Account ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="account.accountId" class="form-control" id="id" placeholder="Account ID"/>
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="account.accountName" class="form-control" id="name" placeholder="Account Name"/>
    </div>
</div>
<div class="form-group">
    <label for="number" class="col-sm-2 control-label">Number</label>
    <div class="col-sm-10">
        <input type="text" ng-model="account.accountNumber" class="form-control" id="number" placeholder="Account Number"/>
    </div>
</div>
<!-- extra field sort number to implement  - could also add type of account
<div class="form-group">
    <label for="number" class="col-sm-2 control-label">Account Sort Number</label>
    <div class="col-sm-10">
        <input type="text" ng-model="account.accountSort" class="form-control" id="sort" placeholder="Account Sort Number"/>
    </div>
</div>
-->
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
