<div class="container pad-top">
  <table class="table accounts">
      <tr>
          <td><h3>Details for {{account.accountName}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Account Id</td>
          <td>{{account.accountId}}</td>
      </tr>
      <tr>
          <td>Account Name</td>
          <td>{{account.accountName}}</td>
      </tr>
      <tr>
          <td>Account Number</td>
          <td>{{account.accountNumber}}</td>
      </tr>
      <tr>
          <td>Account Sort Code</td>
          <td>{{account.accountSort}}</td>
      </tr>
      <tr>
          <td>Account Type</td>
          <td>{{account.accountType}}</td>
      </tr>
      <tr>
          <td>Account Balance</td>
          <td>{{account.accountBalance}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editAccount({id:account.accountId})">Edit</a>
  </div>
</div>
